* {
  box-sizing: border-box;
  
  
}

body {
  
  background-color: blueviolet;
}

header {
  width: 130rem;
  height: 5rem;
  background-color: cornflowerblue;
}

h1 {
  font-size: 4rem;
}

main {
  width: 130rem;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 30rem 5rem 15rem ;
  background-color: darkkhaki;
}

#result {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: darkslateblue;
  border: 0.4rem solid black;
  text-align: center;
  
}
li {
  font-size: 1.5rem;
}

h2 {
  font-size: 3rem;
  margin-top: 2rem;
}

#select {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: deepskyblue;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 0.4rem solid black;
  cursor: pointer;
}



#button{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 5;
  text-align: center;
  background-color: rgba(186, 11, 11, 0.734);
  color: rgb(9, 1, 1);
  padding: 1rem 1.5rem;
  width: max-content;
  height: max-content;
  font-size: 1.5rem;
  margin: 1rem;
  pointer-events: none;
}
#button.clicks-allowed {
  background-color: rgb(215, 110, 45);
  color: rgb(14, 1, 1);
  cursor: pointer;
  pointer-events: auto;
}
#button.clicks-allowed:hover {
  background-color: rgb(182, 34, 223)
}

section {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: fuchsia;
  display: flex;
  font-size: 2rem;
}

footer {
  width: 130rem;
  height: 5rem;
  text-align: center;
  background-color: green;
}
